bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
appsettings.json
appsettings.Development.json
OIDC.Core-API/Migrations/AppDbContextModelSnapshot.cs
OIDC.Core.sln.DotSettings.user
oidc-core.json
